<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Job Offer</title>
    <style>
      p {
        text-align: justify;
        text-justify: inter-word;
      }
    </style>
  </head>

  <body>
    <div
      style="
        padding: 0;
        margin: 0 auto;
        width: 100% !important;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      "
    >
      <table
        role="presentation"
        align="center"
        border="0"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        bgcolor="#F3F2EF"
        style="background-color: #f3f2ef; table-layout: fixed"
      >
        <tbody>
          <tr>
            <td align="center" style="padding-top: 24px">
              <center style="width: 100%">
                <table
                  role="presentation"
                  border="0"
                  class="m_3959601266018629369mercado-email-container"
                  cellspacing="0"
                  cellpadding="0"
                  width="512"
                  bgcolor="#FFFFFF"
                  style="
                    background-color: #ffffff;
                    margin: 0 auto;
                    max-width: 512px;
                    width: inherit;
                  "
                >
                  <tbody>
                    <tr>
                      <td
                        bgcolor="#FFFFFF"
                        style="background-color: #ffffff; padding: 18px 24px 0 24px"
                      >
                        <table
                          role="presentation"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          style="width: 100% !important; min-width: 100% !important"
                        ></table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          role="presentation"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td>
                                <table
                                  role="presentation"
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="0"
                                  width="100%"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table
                                          role="presentation"
                                          border="0"
                                          cellspacing="0"
                                          cellpadding="0"
                                          width="100%"
                                        >
                                          <tbody>
                                            <tr>
                                              <td style="padding: 24px 24px 16px">
                                                <h2
                                                  style="
                                                    margin: 0;
                                                    color: #000000;
                                                    font-weight: 200;
                                                    font-size: 24px;
                                                    line-height: 1.167;
                                                  "
                                                >
                                                  New job offer for you
                                                </h2>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table
                                          cellspacing="0"
                                          cellpadding="0"
                                          style="padding: 10px 24px"
                                        >
                                          <tbody
                                            valign="top"
                                            style="
                                              table-layout: fixed;
                                              vertical-align: top;
                                              width: 100%;
                                            "
                                          >
                                            <tr>
                                              <td
                                                align="left"
                                                style="padding-left: 0; text-align: left"
                                              >
                                                <a
                                                  href="{{linkToJob}}"
                                                  style="
                                                    color: #0a66c2;
                                                    display: inline-block;
                                                    text-decoration: none;
                                                  "
                                                  target="_blank"
                                                >
                                                  <table
                                                    role="presentation"
                                                    border="0"
                                                    cellspacing="0"
                                                    cellpadding="0"
                                                    width="100%"
                                                    valign="top"
                                                    style="
                                                      table-layout: fixed;
                                                      vertical-align: top;
                                                      width: 100%;
                                                    "
                                                  >
                                                    <tbody>
                                                      <tr>
                                                        <td style="padding-bottom: 4px">
                                                          <a
                                                            href="{{linkToJob}}"
                                                            style="
                                                              color: #0a66c2;
                                                              font-weight: 700;
                                                              text-decoration: none;
                                                              display: inline-block;
                                                              font-size: 16px;
                                                            "
                                                            target="_blank"
                                                            >{{title}}</a
                                                          >
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <p
                                                            style="
                                                              margin: 0;
                                                              color: #000000;
                                                              font-weight: 400;
                                                              font-size: 14px;
                                                              line-height: 1.429;
                                                            "
                                                          >
                                                            {{companyName}} · {{location.country}}
                                                          </p>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table></a
                                                >
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 4px 24px 36px">
                                        <table
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          role="presentation"
                                          align="left"
                                          style="display: inline-block"
                                        ></table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table
                          role="presentation"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                          width="100%"
                          bgcolor="#F3F2EF"
                          align="left"
                          style="
                            background-color: #f3f2ef;
                            padding-top: 16px;
                            color: #000000;
                            text-align: left;
                          "
                        >
                          <tbody>
                            <tr>
                              <td>
                                <table width="24" border="0" cellspacing="0" cellpadding="1">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div style="height: 0px; font-size: 0px; line-height: 0px">
                                          &nbsp;
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td>
                                <table
                                  role="presentation"
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="0"
                                  width="100%"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table
                                          role="presentation"
                                          border="0"
                                          cellspacing="0"
                                          cellpadding="0"
                                          width="100%"
                                        >
                                          <tbody>
                                            <tr>
                                              <td>
                                                <table
                                                  width="1"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="1"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <div
                                                          style="
                                                            height: 12px;
                                                            font-size: 12px;
                                                            line-height: 12px;
                                                          "
                                                        >
                                                          &nbsp;
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                align="left"
                                                style="padding: 0; color: #000000; text-align: left"
                                              >
                                                <p
                                                  style="
                                                    margin: 0;
                                                    word-wrap: break-word;
                                                    color: #000000;
                                                    word-break: break-word;
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    line-height: 1.333;
                                                  "
                                                >
                                                  This email was sent to {{name}}
                                                </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <table
                                                  width="1"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="1"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <div
                                                          style="
                                                            height: 12px;
                                                            font-size: 12px;
                                                            line-height: 12px;
                                                          "
                                                        >
                                                          &nbsp;
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                align="left"
                                                style="padding: 0; color: #000000; text-align: left"
                                              >
                                                <p
                                                  style="
                                                    margin: 0;
                                                    color: #000000;
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    line-height: 1.333;
                                                  "
                                                >
                                                  You are receiving emails about jobs that can be of
                                                  your interest.
                                                </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                align="left"
                                                style="padding: 16px 0 0 0; text-align: left"
                                              >
                                                <table
                                                  role="presentation"
                                                  align="center"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                  width="100%"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        valign="middle"
                                                        align="left"
                                                        style="
                                                          padding: 0 0 16px 0;
                                                          vertical-align: middle;
                                                          text-align: left;
                                                        "
                                                      >
                                                        <a
                                                          href="{{cancelSubscription}}"
                                                          style="
                                                            color: #0a66c2;
                                                            text-decoration: underline;
                                                            display: inline-block;
                                                          "
                                                          target="_blank"
                                                        >
                                                          <span
                                                            style="
                                                              color: #0a66c2;
                                                              font-weight: 400;
                                                              font-size: 12px;
                                                              line-height: 1.333;
                                                            "
                                                            >Cancel subscription</span
                                                          ></a
                                                        >
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>

                                            <tr>
                                              <td>
                                                <table
                                                  width="1"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="1"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <div
                                                          style="
                                                            height: 12px;
                                                            font-size: 12px;
                                                            line-height: 12px;
                                                          "
                                                        >
                                                          &nbsp;
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                align="left"
                                                style="padding: 0; color: #000000; text-align: left"
                                              >
                                                <p
                                                  style="
                                                    margin: 0;
                                                    color: #000000;
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    line-height: 1.333;
                                                  "
                                                >
                                                  Before printing this message, think about the
                                                  environment. This email message, as well as any
                                                  files that may be attached, is reserved for your
                                                  recipients and may contain confidential
                                                  information or be subject to legal restrictions.
                                                  If is not your recipient or if you received this
                                                  message due to an error, we ask that you do not
                                                  make any use or dissemination of its content and
                                                  proceed to the permanent elimination of this
                                                  message and its attachments.
                                                </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <table
                                                  width="1"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="1"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td>
                                                        <div
                                                          style="
                                                            height: 24px;
                                                            font-size: 24px;
                                                            line-height: 24px;
                                                          "
                                                        >
                                                          &nbsp;
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td>
                                <table width="24" border="0" cellspacing="0" cellpadding="1">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div style="height: 0px; font-size: 0px; line-height: 0px">
                                          &nbsp;
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
